<%= link_to "新增", new_admin_download_path, class: "btn btn-default btn-add-new my-xs-20"%>

<ul class="nav nav-pills my-xs-20" role="tablist">
  <li class="active"><a role="tab" href="#download_zh-TW" data-toggle="tab">中文</a></li>
  <li ><a role="tab" href="#download_en" data-toggle="tab">英文</a></li>
</ul>
<div class="tab-content mt-xs-20">
  <% {'zh-TW': 'active', 'en': 'fade'}.each do |locale, status| %>
  <!-- download_<%= locale %> panel -->
  <div role="tabpanel" class="tab-pane <%= status %>" id=<%= "download_#{locale}" %>>
    <table class="table xs-transform">
      <thead class="hidden-xs">
        <tr>
          <td class="col-sm-5">建立日期</td>
          <td class="col-sm-5">標題</td>
        </tr>
      </thead>
      <tbody>
        <% @admin_downloads.lang_query(locale).each do |download|%>
        <tr>
          <td class="col-sm-5"><%= download.created_at.to_date %></td>
          <td class="col-sm-5"><%= download.title %></td>
          <td class="col-sm-2 text-center">
            <%= link_to edit_admin_download_path(download), class: "btn btn-primary" do %>
              <i class="fa fa-pencil fa-fw"></i>
            <% end %> 
            <%= link_to admin_download_path(download), method: "delete", data: { confirm: "確認刪除?" }, class: "btn btn-danger" do%>
              <i class="fa fa-trash fa-fw"></i>
            <% end %>
          </td>
        </tr>
        <%end%>
      </tbody>
    </table>
  </div>
  <% end %>
</div>