<%= form_for(:home, url: admin_homepage_index_path) do |f| %>
<ul class="nav nav-pills my-xs-20" role="tablist">
  <li class="active"><a role="tab" href="#home_zh-TW" data-toggle="tab">中文</a></li>
  <li ><a role="tab" href="#home_en" data-toggle="tab">英文</a></li>
</ul>
<div class="tab-content mt-xs-20">
  <% {'zh-TW': 'active', en: 'fade'}.each do |locale, status| %> 
  <!-- content_<%= locale %> panel -->
  <div role="tabpanel" class="tab-pane <%= status %>" id="home_<%= locale %>">
    <!-- title -->
    <% @admin_home.slice(locale.to_s).each do |k1, v1| %>
    <div class="form-group">
      <%= f.label v1.key(v1['title']) %>
      <%= f.text_field v1['title'], name: "home[#{locale}][title]", value: v1['title'], class: 'form-control' %>
    </div>
    <% end %>
    <!-- mission, services -->
    <% @admin_home.fetch(locale.to_s).except('title').each do |k1, v1| %>
    <div class="form-group">
      <%= f.label k1 %>
      <%= f.cktext_area v1, name: "home[#{locale}][#{k1}]", value: v1, id: "home[#{locale}][#{k1}]", class: 'form-control' %>
    </div>
    <% end %>
  </div>
  <% end %>
</div>
<% @admin_home.fetch('images').each do |key, value| %>
<div class="form-group mt-xs-20">
  <%= f.label key %>
  <%= f.file_field value, name: "home[images][#{key}]", value: value, 'data-default-file': "/images/home/#{key}.jpg", data: {'max-file-size': '200k'}, class: 'dropify' %>
</div>
<% end %>
<%= f.submit "確認送出", class: 'btn btn-primary form-control mt-xs-20' %>
<% end %>
<%= render 'layouts/dropify' %>
