<%= form_for admin_news do |f| %>
  <%# I18n.available_locales.each do |locale| %>
    <!-- <div>
      <%# title = "title_#{Mobility.normalize_locale(locale)}" %>
      <%# content  = "content_#{Mobility.normalize_locale(locale)}" %>
      <%#= f.label title %>
      <%#= f.text_field title %>
      <%#= f.label content %>
      <%#= f.text_area content %>
    </div> -->
  <%# end %> 
<ul class="nav nav-tabs nav-justified my-xs-20" role="tablist">
  <li class="active"><a role="tab" href="#content" data-toggle="tab">內容</a></li>
  <li ><a role="tab" href="#seo" data-toggle="tab">SEO</a></li>
</ul>
<div class="tab-content mt-xs-20">
  <!-- content panel -->
  <div role="tabpanel" class="tab-pane active" id="content">
    <ul class="nav nav nav-pills my-xs-20" role="tablist">
      <li class="active"><a role="tab" href="#content_zh_tw" data-toggle="tab">中文</a></li>
      <li ><a role="tab" href="#content_en" data-toggle="tab">英文</a></li>
    </ul>
    <div class="form-group mt-xs-20">
      <%= f.fields_for :image do |img| %>
      <div class="form-group">
        <%= img.label :src, "封面圖片" %>
        <%= img.file_field :src, "data-default-file": admin_news.image.src.url, data: {'max-file-size': '500k'}, class: "dropify" %>
      </div>
      <% end %>
    </div>
    <div class="tab-content mt-xs-20">
      <% {'zh_tw': 'active', 'en': 'fade'}.each do |locale, status| %>
      <!-- content_<%= locale %> panel -->
      <div role="tabpanel" class="tab-pane <%= status %>" id=<%= "content_#{locale}" %>>
        <div class="form-group">
          <%= f.label "title_#{locale}", '標題' %>
          <%= f.text_field "title_#{locale}", class: "form-control"%>
        </div>
        <div class="form-group">  
          <%= f.label "content_#{locale}", '內容' %>
          <%= f.cktext_area "content_#{locale}"%>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <!-- seo panel -->
  <div role="tabpanel" class="tab-pane fade" id="seo">
    <ul class="nav nav-pills my-xs-20" role="tablist">
      <li class="active"><a role="tab" href="#seo_zh_tw" data-toggle="tab">中文</a></li>
      <li ><a role="tab" href="#seo_en" data-toggle="tab">英文</a></li>
    </ul>
    <div class="form-group mt-xs-20">
      <%= f.label :permalink, "自訂網址" %>
      <%= f.text_field :permalink, placeholder: "預設：英文標題，限英數字元", class: "form-control" %>
    </div>
    <%= render 'layouts/admin/seo', f: f %>
    <div class="form-group">
      <%= f.fields_for :metum do |mt|%>
        <%= mt.label :og_image, "FB_圖片" %>
        <%= mt.file_field :og_image, "data-default-file": admin_news.metum.og_image.url,class: "dropify" %>
      <% end %>
    </div>
  </div>
</div>
<%= f.submit "確認送出", class: "btn btn-primary form-control mt-xs-20" %>
<%= link_to "取消", admin_news_index_path, class: "btn btn-default form-control mt-xs-20" %>
<% end %>
<%= render 'layouts/dropify' %>