<%= form_for admin_news do |f| %>
  <%# I18n.available_locales.each do |locale| %>
    <!-- <div>
      <%# title = "title_#{Mobility.normalize_locale(locale)}" %>
      <%# content  = "content_#{Mobility.normalize_locale(locale)}" %>
      <%#= f.label title %>
      <%#= f.text_field title %>
      <%#= f.label content %>
      <%#= f.text_area content %>
    </div> -->
  <%# end %> 
<ul class="nav nav-pills my-xs-20" role="tablist">
  <li class="active"><a role="tab" href="#news_zh" data-toggle="tab">中文</a></li>
  <li ><a role="tab" href="#news_en" data-toggle="tab">英文</a></li>
</ul>
<div class="tab-content mt-xs-20">
  <!-- News_ZH Panel -->
  <div role="tabpanel" class="tab-pane active" id="news_zh">
    <div class="form-group">
      <%= f.label :title_zh_tw, '標題' %>
      <%= f.text_field :title_zh_tw, class: "form-control"%>
    </div>
    <div class="form-group">  
      <%= f.label :content_zh_tw, '內容' %>
      <%= f.cktext_area :content_zh_tw%>
    </div>
  </div>    
  <!-- News_EN Panel-->
  <div role="tabpanel" class="tab-pane fade mt-xs-20" id="news_en">
    <div class="form-group">
      <%= f.label :title_en, '標題' %>
      <%= f.text_field :title_en, class: "form-control"%>
    </div>
    <div class="form-group">
      <%= f.label :content_en, '內容' %>
      <%= f.cktext_area :content_en%>
    </div>
  </div>
</div>
<div class="form-group">
  <%= f.fields_for :image do |img| %>
  <div class="form-group">
    <%= img.label :image, "封面圖片" %>
    <%= img.file_field :image %>
  </div>
  <% end %>
</div>
<div class="form-group">
  <%= f.label :permalink, "網址" %>
  <%= f.text_field :permalink, class: "form-control" %>
</div>
<%= f.submit "確認送出", class: "btn btn-primary form-control mt-xs-20" %>
<%= link_to "取消", "admin_news_index_path", class: "btn btn-default form-control mt-xs-20" %>
<% end %>