<%= form_for admin_faq do |f| %>
<div class="form-group mt-xs-20">
  <%= f.label :lang, '語言' %>
  <%= f.select :lang, options_for_select([['中文'],['英文']], admin_faq.default_lang), {include_blank: " - 選擇語言 - "}, class: "form-control" %>
</div>
<div class="form-group">
  <%= f.label :question, '問題' %>
  <%= f.text_field :question, class: "form-control" %>
</div>
<div class="form-group">
  <%= f.label :answer, '答案' %>
  <%= f.cktext_area :answer, class: "form-control" %>
</div>
<div class="form-group">
  <%= f.submit "確認送出", class: "btn btn-primary form-control" %>
  <%= link_to "取消", admin_faqs_path, class: "btn btn-default form-control mt-xs-20" %>
</div>
<% end %>
