<%= content_for(:body_attributes) do %>data-turbolinks="false"<% end %>
<section id="about">
  <section class="title text-center py-xs-20">
    <h1><%= raw_contents I18n.locale, @about, 'title' %></h1>
  </section>
  <section id="summary" class="section parallax" style="background-image: url('/images/about/summary.jpg')" >
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 bg-white">
          <div class="px-xs-20 py-xs-20 px-sm-40 py-sm-40">
            <%= raw_contents I18n.locale, @about, 'summary' %>
          </div>
        </div>
        <!-- /column -->
      </div>
      <!-- /row -->
    </div>
    <!-- /contaienr -->
  </section>
    <!-- /Summary -->
</section>

<section id="features" class="no-border">
  <div class="split-box">
    <div class="image-container col-md-6">
      <div class="background-holder parallax-overlay-light" style="background-image: url('/images/about/mission.jpg')">
      </div>
      <!-- /background-holder -->
    </div>
    <!-- column -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 col-md-offset-6 col-sm-12 clearfix ">
          <div class="content border mrg-horizon-30 mrg-vertical-30">
            <%= raw_contents I18n.locale, @about, 'mission' %>
          </div>
          <!-- /content -->
        </div>
        <!-- /column -->
      </div>
      <!-- /row -->
    </div>
    <!-- /container-fluid -->
  </div>
  <!-- /split-box -->

  <div class="split-box">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 col-sm-12 clearfix">
          <div class="content border mrg-horizon-30 mrg-vertical-30">
            <%= raw_contents I18n.locale, @about, 'feature' %>
          </div>
          <!-- /content -->
        </div>
        <!-- /column -->
      </div>
      <!-- /row -->
    </div>
    <!-- /container-fluid -->
    <div class="image-container col-md-offset-6 col-md-6">
      <div class="background-holder has-content parallax-overlay-light" style="background-image: url('/images/about/feature.jpg')">
      </div>
      <!-- /background-holder -->
    </div>
    <!-- column -->
  </div>
  <!-- /split-box -->
</section>
<!-- /Features -->

<section id="service" class="section-2 no-border parallax parallax-overlay-dark" style="background: rgba(0, 0, 0, 0.5)" >
  <div class="container">
    <%= raw_contents I18n.locale, @about, 'service' %> 
  </div>
</section>
<!-- Service -->
<!-- Certificates -->
<section id="certificates" class="pdd-vertical-30">
  <div class="container">
    <div class="owl-5 owl-carousel clients-1">
      <% @certificates.each do |cert| %>
        <div class="item"><%= image_tag cert.image_url, class: 'img-responsive' %></div>
        <!-- thumb not working -->
        <!-- <div class="item"><%#= image_tag cert.image_url(:thumb_150), class: 'img-responsive' %></div> -->
      <% end %>
    </div>
    <!-- clients-1 -->
  </div>
  <!-- container -->
</section>
<!-- /#certificates -->