<div id="homepage">
  <!-- Full Screen Image Parallax -->
  <header id="home">
    <div class="fw-slider">
      <div id="fw-slider-nav" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
          <% @carousels.each do |carousel| %>
          <div class="<%= carousel_active(carousel) %> item bg" style="background-image:url(<%= carousel.image.src.url %>)">
            <div class="hero-caption caption-center caption-height-top">
                <h2 class="hero-heading text-light"><%= carousel.title_zh_tw %></h2>
                <p class="hero-text-alt text-light mrg-top-30"><%= carousel.description_zh_tw %></p>
                <%= carousel_cta carousel %>
            </div>
            <!--/ hero-caption -->
          </div>
          <% end %>
          <!-- /item -->
        </div>
        <!-- /carousel-inner -->
        <a class="carousel-control left" href="#fw-slider-nav" data-slide="prev"></a>
        <!-- left-control -->
        <a class="carousel-control right" href="#fw-slider-nav" data-slide="next"></a>
        <!-- /right-control -->
      </div>
      <!-- /carousel -->
    </div>
    <!-- /fw-slider -->
  </header>
  <!--/#Full Screen Image Parallax -->
  <!-- services -->
  <section id="services" class="section-4">
    <div class="container">
      <h2 class="heading"><%= t('frontend.home.services') %></h2>
      <div class="row mrg-top-75">
        <% ['1', '2', '3'].each do |num| %>
        <div class="col-sm-4">
          <div class="infography-style-4">
            <div class="overflow-auto">
              <%= image_tag "/images/home/services_icon_#{num}.jpg?#{@image_cache}"%>
            </div>
            <!-- /infography-icon -->
            <div class="clear">
              <div class="mt-xs-15">
                <p><%= raw_contents I18n.locale, @home, "service_#{num}"  %></p>
                <%= link_to t('frontend.button.enter'), @home.fetch('url')["service_url_#{num}"], class: 'btn btn-default mt-xs-10 form-control' %>
              </div>
            </div>
            <!-- /inner-wrapper -->
          </div>
          <!-- /infography-style-5 -->
        </div>
        <!-- /column -->
        <% end %>
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </section>
  <!-- /#services -->
  <section>
    <div class="split-box">
      <!-- column -->
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6 col-sm-offset-6 clearfix bg-gray">
            <div class="content">
              <h2 class="heading-left"><%= t('frontend.home.mission') %></h2>
              <div class="mrg-top-50">
                <%= raw_contents I18n.locale, @home, 'mission'  %>
              </div>
            </div>
            <!-- /content -->
          </div>
          <!-- /column -->
        </div>
        <!-- /row -->
      </div>
      <!-- /container-fluid -->
      <div class="image-container col-sm-6 parallax-overlay-light">
        <div class="background-holder " style="background-image: url('/images/home/mission.jpg?<%= @image_cache %>')"></div>
      </div>
    </div>
    <!-- /split-box -->
  </section>
  <!-- /Split Box -->
  <!-- News -->
  <section id="news" class="section-2 bg-gray">
    <div class="container">
      <h2 class="heading"><%= t('frontend.home.news') %></h2>
      <div class="blog-post mrg-top-70">
        <% @news.each do |news|%>
        <div class="col-sm-4">
          <div class="blog-wrapper">
            <div class="blog-img">
              <%= link_to news_path(news.permalink) do %>
              <%= image_tag news.image.src, class: 'img-responsive' %>
              <% end %>
              <div class="post-date ">
                <p class="no-margin"><%= news.created_at.to_date %></p>
              </div>
              <!-- post-date -->
            </div>
              <!-- blog-img -->
            <div class="post-content">
              <h3 class="post-tittle"><%= news.title %></h3>
              <p class="post-inner-content mrg-vertical-15"><%= news_summary I18n.locale, news.content %></p>
              <div class="post-bottom">
                <span class="read-more">
                  <%= link_to news_path(news.permalink), class: 'btn no-padding' do %>
                    <span><%= t('readmore') %></span><i class="ti-arrow-right"></i>
                  <% end %>
                </span>
              </div>
              <!-- /post-bottom -->
            </div>
            <!-- /post-content -->
          </div>
          <!-- blog-wrapper -->
        </div>
        <!-- column -->
        <% end %>
      </div>
      <!-- /blog-post -->
    </div>
    <!-- container -->
  </section>
  <!--/News -->
  <div id="google-map" class="map"></div>
</div>