<%= form_for admin_office do |f| %>
  <ul class="nav nav-pills my-xs-20" role="tablist">
    <li class="active"><a role="tab" href="#basics_zh_tw" data-toggle="tab">中文</a></li>
    <li ><a role="tab" href="#basics_en" data-toggle="tab">英文</a></li>
  </ul>
  <div class="tab-content mt-xs-20">
    <% {zh_tw: 'active', en: 'fade'}.each do |key, value| %>
    <div role="tabpanel" class="tab-pane <%= value %>" id="basics_<%= key %>">
      <div class="form-group">
        <%= f.label "title_#{key}", "辦公室*" %>
        <%= f.text_field "title_#{key}", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label "address_#{key}", "地址*" %>
        <%= f.text_field "address_#{key}", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label "contact_#{key}", "聯絡人*" %>
        <%= f.text_field "contact_#{key}", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label "number_#{key}", "電話*" %>
        <%= f.text_field "number_#{key}", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label "email_#{key}", "Email*" %>
        <%= f.text_field "email_#{key}", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label "fax_#{key}", "傳真" %>
        <%= f.text_field "fax_#{key}", class: "form-control" %>
      </div>
    </div>
    <% end %>
  </div>
  <%= f.submit "確認送出", class: "btn btn-primary form-control mt-xs-20" %>
  <%= link_to "取消", admin_offices_path, class: "btn btn-default form-control mt-xs-20" %>
<% end %>