<h1>Categories List</h1>

<h2><%= link_to "Add Category", new_admin_category_path, class: "btn btn-default" %></h2>

<table>
  <thead>
    <tr>
      <td>Name</td>
      <td>Permalink</td>
    </tr>
  </thead>
  <tbody>
    <% @admin_categories.each do |cat| %>
    <tr>
      <td><%= cat.name %></td>
      <td><%= cat.permalink %></td>
      <td>
        <%= link_to "Edit", edit_admin_category_path(cat) %>
        <%= link_to "Delete", admin_category_path(cat), method: "delete", data: { confirm: "Sure?" } %>  
      </td>
    </tr>
    <% end %>
  </tbody>
</table>