<%= form_for admin_product do |f| %>
  <ul class="nav nav-tabs nav-justified my-xs-20" role="tablist">
    <li class="active"><a role="tab" href="#basics" data-toggle="tab">基本資料</a></li>
    <li ><a role="tab" href="#content" data-toggle="tab">內容</a></li>
    <li ><a role="tab" href="#support" data-toggle="tab">技術文件</a></li>
    <li ><a role="tab" href="#seo" data-toggle="tab">SEO</a></li>
  </ul>
  <div class="tab-content mt-xs-20">
    <div role="tabpanel" class="tab-pane active" id="basics">
      <ul class="nav nav-pills my-xs-20" role="tablist">
        <li class="active"><a role="tab" href="#basics_zh" data-toggle="tab">中文</a></li>
        <li ><a role="tab" href="#basics_en" data-toggle="tab">英文</a></li>
      </ul>
      <div class="tab-content mt-xs-20">
        <div role="tabpanel" class="tab-pane active" id="basics_zh">
          <div class="form-group">
            <%= f.label :name_zh_tw, "品名" %>
            <%= f.text_field :name_zh_tw, class: "form-control" %>
          </div>
          <%= product_image(f,"zh-TW", admin_product) %>
          <div class="form-group">
            <%= f.label :country, "產地" %>
            <%= f.text_field :country_zh_tw, placeholder: "預設：台灣", class: "form-control" %>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="basics_en">
          <div class="form-group">
            <%= f.label :name_en, "品名" %>
            <%= f.text_field :name_en, class: "form-control" %>
          </div>
          <%= product_image(f,"en", admin_product) %>
          <div class="form-group">
            <%= f.label :country, "產地" %>
            <%= f.text_field :country_en, placeholder: "預設：Taiwan", class: "form-control" %>
          </div>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :model, "型號" %>
        <%= f.text_field :model, class: "form-control" %>
      </div>  
      <div class="form-group">
        <div><%= f.label "產品分類" %></div>  
        <%= checkbox Category %>
      </div>
      <div class="form-group">
        <div><%= f.label "產品認證" %></div>
        <%= checkbox Certificate %>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane fade mt-xs-20" id="content">
      <ul class="nav nav-pills my-xs-20" role="tablist">
        <li class="active"><a role="tab" href="#content_zh" data-toggle="tab">中文</a></li>
        <li ><a role="tab" href="#content_en" data-toggle="tab">英文</a></li>
      </ul>
      <div class="tab-content mt-xs-20">
        <div role="tabpanel" class="tab-pane active" id="content_zh">
          <div class="form-group">
            <%= f.label :description_zh_tw, "敘述" %>
            <%= f.cktext_area :description_zh_tw %>
          </div>
          <div class="form-group">
            <%= f.label :feature_zh_tw, "特色" %>
            <%= f.cktext_area :feature_zh_tw %>
          </div>
          <div class="form-group">
            <%= f.label :dimensions_zh_tw, "尺寸" %>
            <%= f.cktext_area :dimensions_zh_tw %>
          </div>
          <div class="form-group">
            <%= f.label :specification_zh_tw, "規格" %>
            <%= f.cktext_area :specification_zh_tw %>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="content_en">
          <div class="form-group">
            <%= f.label :description_en, "敘述" %>
            <%= f.cktext_area :description_en %>
          </div>
          <div class="form-group">
            <%= f.label :feature_en, "特色" %>
            <%= f.cktext_area :feature_en %>
          </div>
          <div class="form-group">
            <%= f.label :dimensions_en, "尺寸" %>
            <%= f.cktext_area :dimensions_en %>
          </div>
          <div class="form-group">
            <%= f.label :specification_en, "規格" %>
            <%= f.cktext_area :specification_en %>
          </div>
        </div>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane fade mt-xs-20" id="support">
      <div class="form-group">
        <%= f.label :document, "技術文件" %>
        <%= f.file_field :document, "data-default-file": admin_product.document, class: "dropify" %>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane fade mt-xs-20" id="seo">
      <ul class="nav nav-pills my-xs-20" role="tablist">
        <li class="active"><a role="tab" href="#seo_zh" data-toggle="tab">中文</a></li>
        <li ><a role="tab" href="#seo_en" data-toggle="tab">英文</a></li>
      </ul>
      <div class="form-group mt-xs-20">
        <%= f.label :permalink, "自訂網址" %>
        <%= f.text_field :permalink, placeholder: "預設：產品型號，限英數字元", class: "form-control" %>
      </div>
      <div class="tab-content mt-xs-15">
        <%= f.fields_for :metum do |mt| %>
        <div role="tabpanel" class="tab-pane active" id="seo_zh">
          <div class="form-group">
            <%= mt.label :title_zh_tw, "網頁標題" %>
            <%= mt.text_field :title_zh_tw, class: "form-control" %>  
          </div>
          <div class="form-group">
            <%= mt.label :meta_description_zh_tw, "網頁說明" %>
            <%= mt.text_area :meta_description_zh_tw, class: "form-control text-area" %>  
          </div>
          <div class="form-group">
            <%= mt.label :og_title_zh_tw, "FB_網頁標題" %>
            <%= mt.text_field :og_title_zh_tw, class: "form-control" %>  
          </div>
          <div class="form-group">
            <%= mt.label :og_description_zh_tw, "FB_網頁說明" %>
            <%= mt.text_area :og_description_zh_tw, class: "form-control text-area" %>  
          </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="seo_en">
          <div class="form-group">
            <%= mt.label :title_en, "網頁標題" %>
            <%= mt.text_field :title_en, class: "form-control" %>  
          </div>
          <div class="form-group">
            <%= mt.label :meta_description_en, "網頁說明" %>
            <%= mt.text_area :meta_description_en, class: "form-control text-area" %>  
          </div>
          <div class="form-group">
            <%= mt.label :og_title_en, "FB_網頁標題" %>
            <%= mt.text_field :og_title_en, class: "form-control" %>  
          </div>
          <div class="form-group">
            <%= mt.label :og_description_en, "FB_網頁說明" %>
            <%= mt.text_area :og_description_en, class: "form-control text-area" %>  
          </div>
        </div>
      </div>
      <div class="form-group">
        <%= mt.label :og_image, "FB_圖片" %>
        <%= mt.file_field :og_image, "data-default-file": @admin_product.metum.og_image, class: "dropify" %>
      </div>
      <% end %>
    </div>
  </div>
  <%= f.submit "確認送出", class: "btn btn-primary form-control" %>
  <%= link_to "取消", admin_products_path, class: "btn btn-default form-control mt-xs-20" %>
<% end %>

<%= render 'layouts/dropify' %>