<%= form_for admin_product do |f| %>
  <% I18n.available_locales.each do |locale| %>
    <div>
      <% name = "name_#{Mobility.normalize_locale(locale)}" %>
      <% feature = "feature_#{Mobility.normalize_locale(locale)}" %>
      <% specification = "specification_#{Mobility.normalize_locale(locale)}" %>
      <% dimensions = "dimensions_#{Mobility.normalize_locale(locale)}" %>
      <% description = "description_#{Mobility.normalize_locale(locale)}" %>
      <%= f.label name %>
      <%= f.text_field name %>
      <%= f.label feature %>
      <%= f.text_area feature %>
      <%= f.label dimensions %>
      <%= f.text_area dimensions %>
      <%= f.label specification %>
      <%= f.text_area specification %>
      <%= f.label description %>
      <%= f.text_area description %>
    </div>
  <% end %>

  <%= f.label :model, "Model" %>
  <%= f.text_field :model %>
  <%= f.label :country, "Country" %>
  <%= f.text_field :country %>
  <%= f.label :document, "Document" %>
  <%= f.text_field :document %>
  <%= f.label :permalink, "Permalink" %>
  <%= f.text_field :permalink %>

  <%#= f.collection_check_boxes :category_ids, Category.all, :id, :name %>
  <!-- or use custom hepler -->
  <%= product_collection_checkbox(Category) %>
  <%= product_collection_checkbox(Certificate) %>
  
  <%= f.fields_for :image do |img| %>
  <div class="form_group">
    <%= img.label :image %>
    <%= img.file_field :image, "data-default-file": @admin_product.image.image %>    
  </div>
  <div class="form_group">
    <%= img.label :image_alt %>
    <%= img.text_field :image_alt %>  
  </div>
  <% end %>
  <%= f.fields_for :metum do |meta| %>
  <div class="form_group">
    <%= meta.label :og_image %>
    <%= meta.file_field :og_image, "data-default-file": @admin_product.metum.og_image %>  
  </div>
  <% end %>

  <%= f.fields_for :metum do |meta| %>
  <% I18n.available_locales.each do |locale| %>
    <div>
      <% title = "title_#{Mobility.normalize_locale(locale)}" %>
      <% meta_description = "meta_description_#{Mobility.normalize_locale(locale)}" %>
      <% og_title = "og_title_#{Mobility.normalize_locale(locale)}" %>
      <% og_description = "og_description_#{Mobility.normalize_locale(locale)}" %>
      <%# og_image = "og_image_#{Mobility.normalize_locale(locale)}" %>
      <!-- <div class="form_group">
        <%#= meta.label og_image %>
        <%#= meta.file_field og_image %>  
      </div> -->
      <div class="form_group">
        <%= meta.label title %>
        <%= meta.text_field title %>  
      </div>
      <div class="form_group">
        <%= meta.label meta_description %>
        <%= meta.text_field meta_description %>  
      </div>
      <div class="form_group">
        <%= meta.label og_title %>
        <%= meta.text_field og_title %>  
      </div>
      <div class="form_group">
        <%= meta.label og_description %>
        <%= meta.text_field og_description %>  
      </div>
      
    </div>
  <% end %>

  <% end %>

  <%= f.submit %>
<% end %>