<%= link_to "Add Product", new_admin_product_path, class: "btn btn-default btn-add-new" %>
<table class="table xs-transform mt-xs-20">
  <thead class="hidden-xs">
    <tr>
      <td class="col-sm-1">產品圖片</td>
      <td class="col-sm-3">產品名稱</td>
      <td class="col-sm-3">產品型號</td>
      <td class="col-sm-3">產品分類</td>
    </tr>
  </thead>
  <tbody>
    <% @admin_products.each do |product|%>
    <tr>
      <td class="col-sm-1"><%= admin_index_image product %></td>
      <td class="col-sm-3"><%= product.name %></td>
      <td class="col-sm-3"><%= product.model %></td>
      <td class="col-sm-3">
      <% product.categories.each do |cat| %>
        <span class="well"><%= cat.name %></span>
      <% end %>  
      </td>
      <td class="col-sm-2 text-center">
        <%= link_to edit_admin_product_path(product), class: "btn btn-primary" do %>
          <i class="fa fa-pencil fa-fw"></i>
        <% end %> 
        <%= link_to admin_product_path(product), method: "delete",
            data: { confirm: "確認刪除?" }, class: "btn btn-danger" do %>
          <i class="fa fa-trash fa-fw"></i>
        <% end %>
      </td>
    </tr>
    <%end%>
  </tbody>
</table>
<%= paginate @admin_products %>