<%= link_to "Add Product", new_admin_product_path, class: "btn btn-default btn-add-new" %>
<table class="table xs-transform mt-xs-20">
  <thead class="hidden-xs">
    <tr>
      <td class="col-sm-1">圖片</td>
      <td class="col-sm-3">名稱</td>
      <td class="col-sm-3">型號</td>
      <td class="col-sm-3">分類</td>
    </tr>
  </thead>
  <tbody>
    <% @admin_products.each do |product|%>
    <tr>
      <td class="col-sm-1"><%= admin_index_image product %></td>
      <td class="col-sm-3"><%= product.name %></td>
      <td class="col-sm-2"><%= product.model %></td>
      <td class="col-sm-3">
      <% product.categories.each do |cat| %>
        <span class="well"><%= cat.name %></span>
      <% end %>  
      </td>
      <td class="col-sm-2 text-center">
        <%= link_to publish_state(product), publish_admin_product_path(product), method: :patch, remote: true, class: 'btn btn-default publish_state' %>
        <%= link_to edit_admin_product_path(product), class: "btn btn-primary" do %>
          <i class="fa fa-pencil fa-fw"></i>
        <% end %> 
        <%= link_to admin_product_path(product), method: "delete",
            data: { confirm: "確認刪除?" }, class: "btn btn-danger" do %>
          <i class="fa fa-trash fa-fw"></i>
        <% end %>
      </td>
    </tr>
    <%end%>
  </tbody>
</table>
<%= paginate @admin_products %>

<script type="text/javascript">

  $('.publish_state').each(function() {
    if ($(this).text() == '下架'){
      $(this).addClass("btn-warning");}  
  });
  
  $('.publish_state').on('click', function(){
    var state = $(this).text();
    if (state == '上架'){
      $(this).text('下架').toggleClass('btn-warning');
    }
    else if (state == '下架'){
      $(this).text('上架').toggleClass('btn-warning');
    };
  })
</script>