<div class="container section-2">
  <!-- Category side nav -->
  <div id="category-side-nav" class="col-sm-3 hidden-xs">
    <%= render 'layouts/category_side_nav' %>
  </div>
  <!-- /Category side nav -->  
  <!-- Product wrapper -->
  <div id="product-wrapper" class="col-xs-12 col-sm-9 px-xs-0">
    <!-- Product Details -->
    <section id="product-details" class="no-border no-padding-btm row">
      <div class="col-sm-6 overflow-auto">
        <div class="item col-xs-8 col-xs-offset-2 col-sm-10 col-sm-offset-1">
          <%= product_image I18n.locale, @product %>
        </div>
        <!-- item -->
      </div>
      <!-- /column -->
      <div class="col-sm-6 mt-xs-20 mt-sm-0">
        <div class="border btm">
          <h1 class="mt-sm-0"><%= @product.name %></h1>
          <p><%= t('frontend.product.model') %>： <%= @product.model %></p>
          <p><%= t('frontend.product.country') %>： <%= @product.country %></p>
        </div>
        <div class="border btm py-xs-10 overflow-auto">
          <div class="col-xs-12 px-xs-0">
            <h4 class="mt-xs-0"><%= t('frontend.product.certificates') %></h4>
            <% @product.certificates.each do |cert| %>
            <%= image_tag cert.image_url(:thumb_50), alt: cert.name, class: 'pr-xs-10 cert-icon' %>
            <% end %>
          </div>
          <div class="col-xs-12 px-xs-0">
            <h4><%= t('frontend.product.document') %></h4>
            <%= product_document I18n.locale %>    
          </div>
        </div>
      </div>
      <!-- /column -->
    </section>
    <!-- /Product Details -->
    <!-- Product Details bottom -->
    <section id="product-details-btm" class="section-4 no-border clear">
      <ul class="nav custom-tabs tab-style-2 hidden-xs">
        <% content_active? @product.description do |description| %>
        <li><a data-toggle="tab" href="#description"><%= t('frontend.product.description') %></a></li>
        <% end %>
        <% content_active? @product.feature do |feature| %>
        <li><a data-toggle="tab" href="#feature"><%= t('frontend.product.features') %></a></li>
        <% end %>
        <% content_active? @product.dimensions do |dimensions| %>
        <li><a data-toggle="tab" href="#dimensions"><%= t('frontend.product.dimensions') %></a></li>
        <% end %>
        <% content_active? @product.specification do |specification| %>
        <li><a data-toggle="tab" href="#specification"><%= t('frontend.product.specification') %></a></li>
        <% end %>
      </ul>
      <!-- /custom-tabs -->
      <div class="tab-content">
        <% content_active? @product.description do |description| %>
        <a href="#description" class="dropdown-rotate text-center visible-xs-block">
          <h4 class="block"><b><%= t('frontend.product.description') %></b></h4>
          <i class="block fa fa-angle-down rotate-180 mb-xs-5"></i>
        </a>
        <div id="description" class="tab-pane fade in border border-xs-0 px-sm-30 py-xs-20 py-sm-40">
          <%= description.html_safe %>
        </div>
        <% end %>
        <!-- /tab-pane -->
        <% content_active? @product.feature do |feature| %>
        <a href="#feature" class="dropdown-rotate text-center visible-xs-block">
          <h4 class="block"><b><%= t('frontend.product.features') %></b></h4>
          <i class="block fa fa-angle-down rotate-180 mb-xs-5"></i>
        </a>
        <div id="feature" class="tab-pane fade in border border-xs-0 px-sm-30 py-xs-20 py-sm-40">
          <%= feature.html_safe %>
        </div>
        <% end %>
        <!-- /tab-pane -->
        <% content_active? @product.dimensions do |dimensions| %>
        <a href="#dimensions" class="dropdown-rotate text-center visible-xs-block">
          <h4 class="block"><b><%= t('frontend.product.dimensions') %></b></h4>
          <i class="block fa fa-angle-down rotate-180 mb-xs-5"></i>
        </a>
        <div id="dimensions" class="tab-pane fade in border border-xs-0 px-sm-30 py-xs-20 py-sm-40">
          <%= dimensions.html_safe %>
        </div>
        <% end %>
        <!-- /tab-pane -->
        <% content_active? @product.specification do |specification| %>
        <a href="#specification" class="dropdown-rotate text-center visible-xs-block">
          <h4 class="block"><b><%= t('frontend.product.specification') %></b></h4>
          <i class="block fa fa-angle-down rotate-180 mb-xs-5"></i>
        </a>
        <div id="specification" class="tab-pane fade in border border-xs-0 px-sm-30 py-xs-20 py-sm-40">
          <%= specification.html_safe %>
        </div>
        <% end %>
        <!-- /tab-pane -->
      </div>
      <!-- /tab-content -->
    </section>
    <!-- /Product Details bottom -->
  </div>
  <!-- /Product wrapper -->
</div>
<!-- /Container -->