<%= form_for(:about, url: admin_about_index_path) do |f| %>
<ul class="nav nav-pills my-xs-20" role="tablist">
  <li class="active"><a role="tab" href="#about_zh" data-toggle="tab">中文</a></li>
  <li ><a role="tab" href="#about_en" data-toggle="tab">英文</a></li>
</ul>
<div class="tab-content mt-xs-20">
  <% {zh: 'active', en: 'fade'}.each do |key, value| %> 
  <!-- content_<%= key %> panel -->
  <div role="tabpanel" class="tab-pane <%= value %>" id="about_<%= key %>">
    <% @admin_about.slice(key.to_s).each do |k1, v1| %>
    <% v1.each do |k2, v2| %>
    <div class="form-group">
      <%= f.label k2 %>
      <%= f.cktext_area v2, name: "about[#{k1}][#{k2}]", value: v2, class: "form-control", id: "about[#{k1}][#{k2}]"%>
    </div>
    <% end %>
    <% end %>    
  </div>
  <% end %>
</div>
<%= f.submit "確認送出", class: "btn btn-primary form-control mt-xs-20" %>
<% end %>