<%= form_for :about, url: admin_about_index_path do |f| %>
<ul class="nav nav-pills my-xs-20" role="tablist">
  <li class="active"><a role="tab" href="#about_zh-TW" data-toggle="tab">中文</a></li>
  <li ><a role="tab" href="#about_en" data-toggle="tab">英文</a></li>
</ul>
<div class="tab-content mt-xs-20">
  <% {'zh-TW': 'active', en: 'fade'}.each do |locale, status| %> 
  <!-- content_<%= locale %> panel -->
  <div role="tabpanel" class="tab-pane <%= status %>" id="about_<%= locale %>">
    <!-- title -->
    <% @admin_about.slice(locale.to_s).each do |key, value| %>
    <div class="form-group">
      <%= f.label value.key(value['title']) %>
      <%= f.text_field value['title'], name: "about[#{locale}][title]", value: value['title'], class: "form-control"%>
    </div>
    <% end %>
    <!-- summary, mission, feature, service -->
    <% @admin_about.fetch(locale.to_s).except('title').each do |key, value| %>
    <div class="form-group">
      <%= f.label key %>
      <%= f.cktext_area value, name: "about[#{locale}][#{key}]", value: value, class: "form-control", id: "about[#{locale}][#{key}]"%>
    </div>
    <% end %>
  </div>
  <% end %>
</div>
<!-- images -->
<% @admin_about.fetch('images').each do |key, value| %>
<div class="form-group mt-xs-20">
  <%= f.label key %>
  <%= f.file_field value, name: "about[images][#{key}]", value: value, data: {'max-file-size': '500k'}, 'data-default-file': "/images/about/#{key}.jpg", class: 'dropify' %>
</div>
<% end %>
<%= f.submit "確認送出", class: "btn btn-primary form-control mt-xs-20" %>
<% end %>
<%= render 'layouts/dropify' %>