<%= form_for :system, url: admin_system_index_path do |f| %>
  <ul class="nav nav-pills my-xs-20" role="tablist">
    <li class="active"><a role="tab" href="#system_zh-TW" data-toggle="tab">中文</a></li>
    <li ><a role="tab" href="#system_en" data-toggle="tab">英文</a></li>
  </ul>
  <div class="tab-content mt-xs-20">
    <% {'zh-TW': 'active', 'en': 'fade'}.each do |key, value| %> 
    <!-- content_<%= key.to_s %> panel -->
    <div role="tabpanel" class="tab-pane <%= value %>" id="system_<%= key %>">
      <% @admin_system_site_name.each do |k1, v1| %>
      <% v1.each do |k2, v2| %>
      <% if k2 == key.to_s %>
      <div class="form-group">
        <%= f.label '網站名稱' %>
        <%= f.text_field v2, name: "system[#{k1}][#{k2}]", value: v2, class: "form-control" %>
      </div>
      <% end %>
      <% end %>
      <% end %>
      <% @admin_system_images.each do |k1, v1| %>
      <% v1.each do |k2, v2| %>
      <% if k2 == 'logo_' + key.to_s %>
      <div class="form-group">
        <%= f.label 'Logo' %>
        <%= f.file_field v2, name: "system[#{k1}][#{k2}]", "data-default-file": v2, data: {'max-file-size': '200k'}, class: "dropify" %>
      </div>
      <% end %>
      <% end %>
      <% end %>
    </div>
    <% end %>
  </div>
  <!-- contact email -->
  <% @admin_system_email.each do |k1, v1| %>
  <% v1.each do |k2, v2| %>
  <div class="form-group">
    <%= f.label '收件信箱' %>
    <%= f.text_field v2, name: "system[#{k1}][#{k2}]", value: v2, class: 'form-control' %>
  </div>
  <% end %>
  <% end %>
  <!-- web tracking -->
  <% @admin_system_tracking.each do |k1, v1| %>
  <% v1.each do |k2, v2| %>
  <div class="form-group">
    <%= f.label k2, k2 %>
    <%= f.text_field v2, name: "system[#{k1}][#{k2}]", value: v2, class: 'form-control' %>
  </div>
  <% end %>
  <% end %>
  <!-- favicon -->
  <div class="form-group">
    <% @admin_system_images.each do |k1, v1| %>
    <% v1.slice('favicon').each do |k2, v2| %>
    <%= f.label 'Favicon' %>
    <%= f.file_field v2, name: "system[#{k1}][#{k2}]", "data-default-file": v2, data: {'max-file-size': '50k'}, class: "dropify" %>
    <% end %>
    <% end %>
  </div>
  <% @admin_system_cache.each do |k1, v1| %>
  <% v1.each do |k2, v2| %>
  <div class="form-group">
    <%= f.label '清除圖片暫存' %>
    <%= f.text_field v2, name: "system[#{k1}][#{k2}]", value: v2, placeholder: '輸入任意不重複英數值', class: 'form-control' %>
  </div>
  <% end %>
  <% end %>
  
  <%= f.submit '確認送出', class: 'btn btn-primary form-control mt-xs-20' %>
<% end %>

<%= render 'layouts/dropify' %>