<!-- Footer -->
<footer class="bg-dark">
  <div class="container section-2">
    <div class="col-md-10 col-md-offset-1">
      <div class="widget text-center">
        <div class="widget-tittle">
          <h4></h4>
        </div>
        <!-- widget-tittle -->
        <div class="link-widget">
          <ul class="nav-justified">
            <li><%= link_to t('frontend.nav.news'), news_index_path %></li>
            <li><%= link_to t('frontend.nav.contact.'), contact_path, data: {turbolinks: false} %></li>
            <li><%= link_to t('frontend.nav.about'), about_path, data: {turbolinks: false} %></li>
            <li><%= link_to t('frontend.nav.faq'), faq_path %></li>
            <li><%= link_to t('frontend.nav.download'), download_path %></li>
            <li><%= link_to t('frontend.nav.milestones'), milestones_path %></li>
          </ul>
        </div>
        <!-- link-widget -->
      </div>
      <!-- /widget -->
    </div>
    <!-- /column -->
  </div>
  <!-- /container -->
  <div class="footer-bottom">
    <div class="container">
      <span class="copyright pull-left"> COPYRIGHT © <%= Date.today.year.to_s+' '+@footer_site_name %>  ALL RIGHT RESERVED.</span>
      <div class="social-icon pull-right">
        <%= link_to "https://www.facebook.com/"+@fb_id, target: '_blank' do %>
          <i class="fa fa-facebook"></i>
        <% end %>
      </div>
      <!-- /social-icon -->
    </div>
    <!-- /container -->
  </div>
    <!-- footer-bottom -->
</footer>