<!-- Navigation -->
<nav class="main-nav menu-light <%= nav_wrapper_class %>">
  <div class="<%= nav_wrapper_inner_class %>">
    <div class="navbar">

      <div class="brand-logo">
        <%= nav_logo @site_name, @logo %>
      </div>
      <!-- brand-logo -->

      <div class="navbar-header">
        <div class="inner-nav right-nav">
          <ul>
            <li>
              <a href="#/" class="ti-search" id='search-trigger' data-turbolinks="false"></a>
            </li>
            <li class="navbar-toggle">
              <button type="button" data-toggle="collapse" data-target=".collapse">
                <span class="sr-only"></span>
                <i class="ti-menu"></i>
              </button>
            </li>
            <!-- /collapse-menu -->
          </ul>
          <%= render 'layouts/search' %>
        </div>
        <!-- /right-nav -->
      </div>
      <!-- navbar-header -->

      <div class="custom-collapse navbar-collapse collapse inner-nav">
        <ul class="nav navbar-nav">
          <li><%= link_to t('frontend.nav.products'), products_path %></li>
          <li class="dropdown classic-dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= t('frontend.nav.categories') %> <i class="ti-angle-down"></i></a>
            <ul class="dropdown-menu">
              <% @nav_categories.each do |cat| %>
              <%= content_tag :li do %>
                <%= link_to cat.name, category_path(cat.permalink) %>
              <% end %>
              <% end %>
            </ul>
            <!-- /dropdown-menu -->
            <li><%= link_to t('frontend.nav.about'), about_path %></li>
            <li><%= link_to t('frontend.nav.download'), download_path %></li>
            <li>
              <%= link_to "https://www.facebook.com/"+@fb_id, target: '_blank' do %>
                <i class="fa fa-facebook"></i>
              <% end %>
            </li>
            <li><%= nav_locale I18n.locale %></li>
          </li>
          <!-- /dropdown -->
        </ul>
        <!-- /nav -->
      </div>
      <!-- /collapse -->
    </div>
    <!-- /navbar -->
  </div>
  <!-- /container -->
</nav>
<!--/#Navigation-->