<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= @site_name %></title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'admin', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  <!-- Google Font -->
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition skin-black sidebar-mini">
<div class="wrapper">
  <!-- Main Header -->
  <header class="main-header">
    <!-- Logo -->
    <a href="index2.html" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>Corp</b></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>Corp</b></span>
    </a>
    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- User Account Menu -->
          <li class="dropdown user user-menu">
            <!-- Menu Toggle Button -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <span class="hidden-xs"><% if admin_user_signed_in?  %><%= current_admin_user.email %><% end %></span>
            </a>
            <ul class="dropdown-menu">
              <!-- Menu Footer-->
              <li class="user-footer">
                <div>
                  <%= link_to "修改密碼", edit_admin_user_registration_path, class: "btn btn-default btn-flat form-control mb-xs-10" %>
                  <%= admin_session %>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar Menu -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="treeview">
          <a href="#"><i class="fa fa-cog"></i> <span>首頁</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
          </a>
          <ul class="treeview-menu">
            <li><%= link_to '輪播圖', admin_carousels_path %></li>
            <li><%= link_to '版位內容', admin_homepage_index_path %></li>
          </ul>
        </li>
        <li>
          <%= link_to admin_categories_path do%>
            <%= content_tag :i, '', class: 'fa fa-cog' %>
            <%= content_tag :span, '產品分類' %>
          <% end %>
        </li>
        <li>
          <%= link_to admin_certificates_path do%>
            <%= content_tag :i, '', class: 'fa fa-cog' %>
            <%= content_tag :span, '產品認證' %>
          <% end %>
        </li>
        <li>
          <%= link_to admin_products_path do%>
            <%= content_tag :i, '', class: 'fa fa-cog' %>
            <%= content_tag :span, '產品' %>
          <% end %>
        </li>
        <li>
          <%= link_to admin_news_index_path do%>
            <%= content_tag :i, '', class: 'fa fa-cog' %>
            <%= content_tag :span, '最新消息' %>
          <% end %>
        </li>
        <li>
          <%= link_to admin_faqs_path do%>
            <%= content_tag :i, '', class: 'fa fa-cog' %>
            <%= content_tag :span, '常見問題' %>
          <% end %>
        </li>
        <li>
        <li class="treeview">
          <a href="#"><i class="fa fa-cog"></i> <span>聯絡我們</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
          </a>
          <ul class="treeview-menu">
            <li><%= link_to '廠址', admin_companies_path %></li>
            <li><%= link_to '辦公室', admin_offices_path %></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#"><i class="fa fa-cog"></i> <span>關於我們</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
          </a>
          <ul class="treeview-menu">
            <li><%= link_to '公司簡介', admin_about_index_path %></li>
            <li><%= link_to '歷史沿革', admin_milestones_path %></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#"><i class="fa fa-cog"></i> <span>工程實績</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
          </a>
          <ul class="treeview-menu">
            <li><%= link_to '實績分類', admin_achievements_path %></li>
            <li><%= link_to '實績項目', admin_achievement_cases_path %></li>
          </ul>
        </li>
        <li>
          <%= link_to admin_downloads_path do%>
            <%= content_tag :i, '', class: 'fa fa-cog' %>
            <%= content_tag :span, '資源下載' %>
          <% end %>
        </li>
         <li>
          <%= link_to admin_inquiries_path do%>
            <%= content_tag :i, '', class: 'fa fa-cog' %>
            <%= content_tag :span, '訊息' %>
          <% end %>
        </li>
        <li class="treeview">
          <a href="#"><i class="fa fa-cog"></i> <span>設定</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
          </a>
          <ul class="treeview-menu">
            <li><%= link_to '系統設定', admin_system_index_path %></li>
            <li><%= link_to '語言管理', admin_translations_path %></li>
            <li><%= link_to 'SEO', admin_meta_path %></li>
          </ul>
        </li>
      </ul>
      <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
  </aside>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Main content -->
    <section class="content container-fluid">
    <div id="notification" class="form-group text-center">  
      <%= notice_msg %>
    </div>
      <%= yield %>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <!-- Main Footer -->
  <footer class="main-footer">
    <!-- Default to the left -->
    <strong>Copyright&copy;<%= Date.today.year %> <a href="#">Company</a>.</strong> All rights reserved.
  </footer>
</div>
<!-- ./wrapper -->
</body>
</html>