<!DOCTYPE html>
<html>
<head>
  <%= page_title @site_name, @title %>
  <link rel="canonical"              href="<%= request.url %>" />
  <link rel="icon"                   href="<%= @favicon %>" type="image/png"/>
  <%= meta_desc_tag @meta_desc %>
  <!-- og -->
  <%= og_tag @og %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots"                content="all" />
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tags %>
</head>

<body <%= yield(:body_attributes) %>>
  <%= render 'layouts/nav' %>
  <%= render 'layouts/breadcrumbs' %>
  <%= yield %>
  <%= render 'layouts/footer' %>
</body>
</html>
