<%= form_for admin_certificate do |f| %>
  <div class="form-group mt-xs-20">
    <%= f.label :name_zh_tw, "認證名稱_中文" %>
    <%= f.text_field :name_zh_tw, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :name_en, "認證名稱_英文" %>
    <%= f.text_field :name_en, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :image, "認證圖檔" %>
    <%= f.file_field :image %>
  </div>
  <%= f.submit "確認送出", class: "btn btn-primary form-control mt-xs-20" %>
<% end %>