<%= form_for admin_certificate do |f| %>
  <%= f.label :image, "Image" %>
  <%= f.file_field :image %>
  <% I18n.available_locales.each do |locale| %>
    <div>
      <% name = "name_#{Mobility.normalize_locale(locale)}" %>
      <%= f.label name %>
      <%= f.text_field name %>
    </div>
  <% end %>
  <%= f.submit %>
<% end %>