<%= form_for admin_certificate do |f| %>
  <ul class="nav nav-pills my-xs-20" role="tablist">
    <li class="active"><a role="tab" href="#basics_zh_tw" data-toggle="tab">中文</a></li>
    <li ><a role="tab" href="#basics_en" data-toggle="tab">英文</a></li>
  </ul>
  <div class="tab-content mt-xs-20">
    <% {zh_tw: 'active', en: 'fade'}.each do |key, value| %>
    <div role="tabpanel" class="tab-pane <%= value %>" id="basics_<%= key %>">
      <div class="form-group">
        <%= f.label "name_#{key}", "認證名稱" %>
        <%= f.text_field "name_#{key}", class: "form-control" %>
      </div>
    </div>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.label :image, "認證圖檔" %>
    <%= f.file_field :image, 'data-default-file': admin_certificate.image.url, data: {'max-file-size': '200k'}, class: "dropify" %>
  </div>
  <%= f.submit "確認送出", class: "btn btn-primary form-control" %>
  <%= link_to "取消", admin_certificates_path, class: "btn btn-default form-control mt-xs-20" %>
<% end %>
<%= render 'layouts/dropify' %>