<%= link_to "新增", new_admin_certificate_path, class: "btn btn-default btn-add-new" %>
<table class="table xs-transform mt-xs-20">
  <thead class="hidden-xs">
    <tr>
      <td class="col-sm-5">認證圖檔</td>
      <td class="col-sm-5">認證名稱</td>
    </tr>
  </thead>
  <tbody>
    <% @admin_certificates.each do |cert|%>
    <tr>
      <td class="col-sm-5"><%= image_tag cert.image.url, class: "col-xs-12 col-sm-3 px-xs-0" %></td>
      <td class="col-sm-5"><%= cert.name %></td>
      <td class="col-sm-2 text-center">
        <%= link_to edit_admin_certificate_path(cert), class: "btn btn-primary" do %>
          <i class="fa fa-pencil fa-fw"></i>
        <% end %> 
        <%= link_to admin_certificate_path(cert), method: "delete", data: { confirm: "確認刪除?" }, class: "btn btn-danger" do%>
          <i class="fa fa-trash fa-fw"></i>
        <% end %>
      </td>
    </tr>
    <%end%>
  </tbody>
</table>
